body {
  background-color: #f8f6f6;
}

div {
  margin-bottom: 20px;
}

.header {
  height: 35px;
  background-color: #389393;
}

.header h4 {
  margin: 0;
  line-height: 35px;
  font-weight: 300;
  color: #fff;
}

h1 {
  margin: 20px 0;
}

img {
  border-radius: 5px;
}

label {
  font-weight: 600;
  font-size: 16px;
}

input {
  height: 35px;
  width: 400px;
  margin-top: 6px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

textarea {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
